MusicBox
{
	container BorderPanel(MusicBox/MessageBox)
	{
		metrics_mode          pixels
		width                 800
		height                50
		material              Core/StatsBlockCenter
		border_material       Core/StatsBlockBorder
		border_size           1 1 1 1

		element TextArea(MusicBox/MessageBox/Body)
		{
			metrics_mode  pixels
			top           10
			font_name     BlueHighway
			char_height   16
			alignment     center
			colour        0.5 0.7 0.5
		}
	}
}